@font-face {
  font-family: "DejaVu Sans";
  src: url("../assets/fonts/dejavu/DejaVuSans.woff2") format("woff2"),
    url("../assets/fonts/dejavu/DejaVuSans.woff") format("woff"),
    url("../assets/fonts/dejavu/DejaVuSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BPG Venuri 2010";
  src: url("../assets/fonts/dejavu/BPGVenuri2010.woff2") format("woff2"),
    url("../assets/fonts/dejavu/BPGVenuri2010.woff") format("woff"),
    url("../assets/fonts/dejavu/bpg_venuri_2010.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
