.container{
    max-width: 1536px;
    width: 100%;
}
header{
    width: 100%;
    .container{
        border: 1px solid red;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .main{
            display: flex;
            align-items: center;
            .logo {
                margin-right: 30px;
                img{
                    width: 30px;
                    height: 67px;
                }
            }
            h1{

            }
        }
        nav{
            display: flex;
            ul{
                display: flex;
                justify-content: center;
            }
        }
    }
}