.container {
  max-width: 1536px;
  width: 100%;
  margin: 0 auto;
}
.logo {
  margin-right: 30px;
  img {
    width: 30px;
    height: 67px;
  }
}

// mere wasashlelia es img
img{
  height: 400px;
}

body {
  background-color: $bgcolor;
  header {
    width: 100%;
    .container {
      border: 1px solid red;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .main {
        display: flex;
        align-items: center;
        h1 {
          a {
            color: $darkBlue;
            font-size: 28px;
          }
        }
      }
      nav {
        display: flex;
        align-items: center;
        ul {
          display: flex;
          justify-content: center;
          li {
            margin: 0 45px 0 0;
            a {
              color: $darkBlue;
              font-size: 18px;
            }
            .last-one {
              margin-right: 0;
              background-color: $btnGray;
              padding: 10px 30px;
              border-radius: 5px;
              &:hover {
                background-color: $tagsyellow;
              }
            }
          }
        }
      }
    }
  }
  main {
    .poster {
      border: 1px solid $lightGray;
      margin-bottom: 162px;
      width: 100%;
      height: 523px;
      display: flex;
      justify-content: center;
      background-color: $darkBlue;
      .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .text {
          max-width: 469px;
          width: 100%;
          p {
            font-size: 66px;
            line-height: 76px;
            color: $lightYellow;
          }
        }
      }
    }
  }
  .words {
    .container {
      flex-direction: column;
      @include flex-ai(center);
      .words-title {
        font-size: 40px;
        letter-spacing: 5px;
        color: #1d2933;
      }
      .word-blocks {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .block {
          max-width: 511px;
          width: 33%;
          padding: 30px 180px 36px 45px;
          margin: 35px 0;
          box-shadow: #00000029 0 3px 5px;
          h2 {
            color: #798996;
            font-size: 46px;
            text-transform: capitalize;
            margin-bottom: 17px;
          }
          span {
            background-color: $tagsyellow;
            padding: 5px 20px;
            font-size: 16px;
            text-transform: capitalize;
          }
        }
      }
    }
  }
  .about-project{
    margin-top: 178px;
    margin-bottom: 134px;
    @include flex-jc(center);
    .container{
      @include flex-ai(center);
      justify-content: space-between;
      .left-block{
        max-width: 768px;
        width: 100%;

        .about-project-text{
          border-left: 4px solid $tagsyellow;
          padding-left: 30px;

          h5{
            font-size: 40px;
            font-family: "BPG Venuri 2010";
            line-height: 45px;
            color: $darkBlue;
            
          }
          p{
            max-width: 724px;
            margin: 45px 0;
            font-family: "DejaVu Sans";
            font-size: 18px;
            color: $darkBlue;
            line-height: 26px;
          }
        }
      }
      .btn-your-term{
        margin-left: 30px;
        @include flex-jc-ai(center, center);
        max-width:351px;
        width: 100%;
        height: 61px;
        background-color: $btnGray;
        &:hover{
          cursor: pointer;
          background-color: $tagsyellow;
          p{
            color: #000000;
          }
        }
        p{
          font-family: "DejaVu Sans";
          font-size: 18px;
          color: #FFFFFF;
        }
      }
    }
  }
  footer{
    width: 100%;
    padding: 90px 0;
    box-shadow: 0px -3px 6px #00000029;
    .container{
      @include flex-jc(space-between);

      .left-block-social{
        .logo-conc{
          @include flex-ai(center);
          display: flex;
          p{
            font-family: "BPG Venuri 2010";
            font-size: 28px;
            line-height: 32px;
          }
        }
        .social-icons{
          display: flex;
          margin-top: 20px;
  
          .circle{
            margin-right: 70px;
            width: 46px;
            height: 46px;
            border-radius: 50%;
            background-color: $lightGray;
            @include flex-jc-ai(center, center);
            img{
              width: 25px;
              height: 25px;
            }
          }
        }
      }
      .middle-block{
        display: flex;
        align-items: center;
        .contact-info{
          p{
            font-size: 18px;
            font-family: "DejaVu Sans";
          }
          p:nth-child(1){
            margin-bottom: 32px;
          }
          p:nth-child(2){
            font-weight: 600;
          }
        }
      }
      .right-block-partners{
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        .partners{
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          p{
            display: flex;
            font-size: 18px;
            font-family: "DejaVu Sans";
            margin-bottom: 48px;
          }
          .partners-logo{
            display: flex;
            justify-content: space-between;
            .div-logo{
              width: 46px;
              height: 46px;
              background-color: $btnGray;
              border-radius: 50%;
              
            }
            :nth-child(2){
              margin-left: 60px;
              margin-right: 60px;
            }
          }
        }
      }
    }
  }
}
