html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "DejaVuSans";
  src: url("../../assets/fonts/dejavu/DejaVuSans.woff2") format("woff2"), url("../../assets/fonts/dejavu/DejaVuSans.woff") format("woff"), url("../../assets/fonts/dejavu/DejaVuSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BPGVenuri2010";
  src: url("../../assets/fonts/venuri/BPGVenuriCaps2020.woff2") format("woff2"), url("../../assets/fonts/venuri/BPGVenuriCaps2020.woff") format("woff"), url("../../assets/fonts/venuri/BPGVenuriCaps2020.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1536px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  margin-right: 30px;
}

.logo img {
  width: 30px;
  height: 67px;
}

body {
  background-color: #f9f7f5;
}

body header {
  padding: 39px 200px;
  -webkit-box-shadow: #00000029 0 3px 5px;
          box-shadow: #00000029 0 3px 5px;
}

body header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .container .main {
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .container .main h1 {
  font-family: "BPGVenuri2010";
  font-size: 28px;
  text-align: center;
}

body header .container .main h1 a {
  color: #1d2933;
}

body header .container nav {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .container nav ul li {
  margin-right: 45px;
  text-align: center;
}

body header .container nav ul li a {
  color: #1d2933;
  font-size: 18px;
  font-family: "DejaVuSans";
}

body header .container nav ul :last-child a {
  margin-right: 0;
  background-color: #798996;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body header .container nav ul :last-child a:hover {
  background-color: #eed370;
}

body main .poster {
  border: 1px solid #707070;
  margin-bottom: 162px;
  width: 100%;
  height: 523px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1d2933;
}

body main .poster .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1536px;
  width: 100%;
}

body main .poster .container .text {
  max-width: 469px;
  width: 100%;
}

body main .poster .container .text p {
  font-size: 66px;
  line-height: 76px;
  color: #fff9b4;
  font-family: "BPGVenuri2010";
}

body main .words .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .words .container .words-title {
  font-size: 40px;
  color: #1d2933;
}

body main .words .container .words-title h2 {
  font-family: "BPGVenuri2010";
}

body main .words .container .word-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .words .container .word-blocks a {
  max-width: 511px;
  width: 33%;
  padding: 30px 180px 36px 45px;
  margin: 35px 0;
  -webkit-box-shadow: #00000029 0 3px 5px;
          box-shadow: #00000029 0 3px 5px;
}

body main .words .container .word-blocks a h2 {
  color: #798996;
  font-size: 46px;
  text-transform: capitalize;
  margin-bottom: 17px;
}

body main .words .container .word-blocks a span {
  background-color: #eed370;
  padding: 5px 20px;
  font-size: 16px;
  text-transform: capitalize;
}

body main .about-project {
  margin-top: 178px;
  margin-bottom: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .about-project .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .about-project .container .left-block {
  max-width: 768px;
  width: 100%;
}

body main .about-project .container .left-block .about-project-text {
  border-left: 4px solid #eed370;
  padding-left: 30px;
}

body main .about-project .container .left-block .about-project-text h5 {
  font-size: 40px;
  font-family: "BPGVenuri2010";
  line-height: 45px;
  color: #1d2933;
}

body main .about-project .container .left-block .about-project-text p {
  max-width: 724px;
  margin: 45px 0;
  font-family: "DejaVuSans";
  font-size: 18px;
  color: #1d2933;
  line-height: 26px;
}

body main .about-project .container .btn-your-term {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 351px;
  width: 100%;
  height: 61px;
  background-color: #798996;
}

body main .about-project .container .btn-your-term:hover {
  cursor: pointer;
  background-color: #eed370;
}

body main .about-project .container .btn-your-term:hover p {
  color: #000000;
}

body main .about-project .container .btn-your-term p {
  font-family: "DejaVuSans";
  font-size: 18px;
  color: #FFFFFF;
}

body main .chatbot {
  position: fixed;
  bottom: 60px;
  right: 150px;
}

body main .about-project-section {
  padding: 40px;
}

body main .about-project-section .container .first {
  margin-top: 70px;
}

body main .about-project-section .container .first img {
  padding-right: 160px;
}

body main .about-project-section .container .second {
  margin: 110px 0;
  padding-left: 120px;
}

body main .about-project-section .container .second img {
  margin-right: 50px;
}

body main .about-project-section .container .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .about-project-section .container .project .text {
  max-width: 724px;
  width: 100%;
}

body main .about-project-section .container .project .text h5 {
  font-family: "BPGVenuri2010";
  font-size: 40px;
  line-height: 45px;
  color: #707070;
  margin-bottom: 45px;
}

body main .about-project-section .container .project .text .texts {
  color: #000000;
  font-family: "DejaVuSans";
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 8px;
}

body main .about-project-section .container .project .text .texts .more-texts {
  display: none;
}

body main .about-project-section .container .project .text .more-click {
  font-family: "BPGVenuri2010";
  font-size: 18px;
  color: #798996;
  text-decoration: underline;
  line-height: 22px;
  cursor: pointer;
}

body main .about-project-section .container .project .text .more-click:hover {
  color: #000000;
}

body main .about-project-section .container .project .show-more .texts .more-texts {
  display: inline;
}

body main .partners-section {
  padding: 40px;
}

body main .partners-section .container .organisation-partenrs {
  margin-bottom: 114px;
}

body main .partners-section .container .organisation-partenrs p {
  font-family: "BPGVenuri2010";
  font-size: 40px;
  line-height: 45px;
  color: #707070;
  margin-bottom: 45px;
}

body main .partners-section .container .organisation-partenrs .partner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 731px;
  width: 100%;
}

body main .partners-section .container .organisation-partenrs .partner-logo .logos {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #798996;
}

body footer {
  width: 100%;
  padding: 90px 0;
  -webkit-box-shadow: 0px -3px 6px #00000029;
          box-shadow: 0px -3px 6px #00000029;
}

body footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer .container .left-block-social .logo-conc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
}

body footer .container .left-block-social .logo-conc p {
  font-family: "BPGVenuri2010";
  font-size: 28px;
  line-height: 32px;
}

body footer .container .left-block-social .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

body footer .container .left-block-social .social-icons .circle {
  margin-right: 70px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .container .left-block-social .social-icons .circle img {
  width: 25px;
  height: 25px;
}

body footer .container .middle-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .container .middle-block .contact-info p {
  font-size: 18px;
  font-family: "DejaVuSans";
}

body footer .container .middle-block .contact-info p:nth-child(1) {
  margin-bottom: 32px;
}

body footer .container .middle-block .contact-info p:nth-child(2) {
  font-weight: 600;
}

body footer .container .right-block-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body footer .container .right-block-partners .partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body footer .container .right-block-partners .partners p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-family: "DejaVuSans";
  margin-bottom: 48px;
}

body footer .container .right-block-partners .partners .partners-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer .container .right-block-partners .partners .partners-logo .div-logo {
  width: 46px;
  height: 46px;
  background-color: #798996;
  border-radius: 50%;
}

body footer .container .right-block-partners .partners .partners-logo :nth-child(2) {
  margin-left: 60px;
  margin-right: 60px;
}
/*# sourceMappingURL=global.css.map */