html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "DejaVuSans";
  src: url("../../assets/fonts/dejavu/DejaVuSans.woff2") format("woff2"), url("../../assets/fonts/dejavu/DejaVuSans.woff") format("woff"), url("../../assets/fonts/dejavu/DejaVuSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BPGVenuri2010";
  src: url("../../assets/fonts/venuri/BPGVenuriCaps2020.woff2") format("woff2"), url("../../assets/fonts/venuri/BPGVenuriCaps2020.woff") format("woff"), url("../../assets/fonts/venuri/BPGVenuriCaps2020.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1536px;
  width: 95%;
  margin: 0 auto;
}

.logoStyle .main {
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logoStyle .main h2 {
  font-family: "BPGVenuri2010";
  font-size: 28px;
  text-align: center;
  color: #1d2933;
}

.logo {
  margin-right: 30px;
}

.logo img {
  width: 30px;
  height: 67px;
}

.hidden {
  display: none;
}

.errorBorder {
  border: 1px solid #fe4444 !important;
}

.activeNav {
  text-decoration: underline;
  text-underline-offset: 6px;
}

body {
  background-color: #f9f7f5;
}

body header {
  padding: 35px 0;
  -webkit-box-shadow: #00000029 0 3px 5px;
          box-shadow: #00000029 0 3px 5px;
}

body header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .container nav {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .container nav ul li {
  position: relative;
  line-height: 40px;
  margin-right: 45px;
  text-align: center;
}

body header .container nav ul li a {
  color: #1d2933;
  font-size: 18px;
  font-family: "DejaVuSans";
}

body header .container nav ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

body header .container nav ul :last-child {
  margin-right: 0;
}

body header .container nav ul :last-child a {
  background-color: #798996;
  color: #fff;
  padding: 10px 30px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body header .container nav ul :last-child a:hover {
  background-color: #eed370;
  text-decoration: none;
  color: #000000;
}

body main section.poster {
  border: 1px solid #c0d0de;
  margin-bottom: 162px;
  width: 100%;
  height: 523px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1d2933;
}

body main section.poster .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1536px;
  width: 100%;
}

body main section.poster .container .text {
  max-width: 469px;
  width: 100%;
}

body main section.poster .container .text p {
  font-size: 66px;
  line-height: 76px;
  color: #fff9b4;
  font-family: "BPGVenuri2010";
}

body main section.signup-login {
  padding: 100px 0 124px 0;
}

body main section.signup-login .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.signup-login .container .toggle-form {
  max-width: 1297px;
  width: 85%;
  -webkit-box-shadow: #00000029 0 3px 6px;
          box-shadow: #00000029 0 3px 6px;
}

body main section.signup-login .container .toggle-form .titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main section.signup-login .container .toggle-form .titles .btn-login {
  width: 50%;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 15px;
  font-size: 40px;
  font-family: "BPGVenuri2010";
  color: #1d2933;
}

body main section.signup-login .container .toggle-form .titles .btn-signup {
  width: 50%;
  background: #798996;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 15px;
  font-size: 40px;
  font-family: "BPGVenuri2010";
  text-align: center;
  color: #fff;
}

body main section.signup-login .container .toggle-form .login {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.signup-login .container .toggle-form .login .remember-psw {
  width: 75%;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main section.signup-login .container .toggle-form .login .remember-psw a {
  color: #798996;
  font-size: 18px;
  font-family: "DejaVuSans";
  text-decoration: underline;
}

body main section.signup-login .container .toggle-form .login .remember-psw .check-remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main section.signup-login .container .toggle-form .login .remember-psw .check-remember label {
  font-family: "DejaVuSans";
  font-size: 18px;
  color: #798996;
  margin-left: 8px;
}

body main section.signup-login .container .toggle-form .login .remember-psw .check-remember #remember {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  color: #ffffff;
  margin-bottom: 0;
}

body main section.signup-login .container .toggle-form .login input {
  background: none;
  border: #798996 1px solid;
  border-radius: 8px;
  outline: none;
  width: 75%;
  padding: 23px 40px;
  margin-bottom: 58px;
}

body main section.signup-login .container .toggle-form .login input ::-webkit-input-placeholder {
  font-family: "DejaVuSans";
  font-size: 18px;
  color: #798996;
}

body main section.signup-login .container .toggle-form .login input :-ms-input-placeholder {
  font-family: "DejaVuSans";
  font-size: 18px;
  color: #798996;
}

body main section.signup-login .container .toggle-form .login input ::-ms-input-placeholder {
  font-family: "DejaVuSans";
  font-size: 18px;
  color: #798996;
}

body main section.signup-login .container .toggle-form .login input ::placeholder {
  font-family: "DejaVuSans";
  font-size: 18px;
  color: #798996;
}

body main section.signup-login .container .toggle-form .login button {
  background: #798996;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 18px 26px;
  color: #fff;
  font-family: "DejaVuSans";
  font-size: 18px;
  margin-bottom: 55px;
}

body main section.signup-login .container .toggle-form .login span {
  font-family: "DejaVuSans";
  font-size: 18px;
  width: 75%;
  color: #798996;
}

body main section.signup-login .container .toggle-form .login span #not-acount {
  cursor: pointer;
  color: #798996;
  text-decoration: underline;
}

body main section.signup-login .container .toggle-form .login span #not-acount:hover {
  color: #000000;
}

body main section.signup-login .container .toggle-form .signup {
  padding: 50px 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.signup-login .container .toggle-form .signup input {
  background: none;
  border: #798996 1px solid;
  border-radius: 8px;
  outline: none;
  width: 75%;
  padding: 23px 40px;
  margin-bottom: 58px;
}

body main section.signup-login .container .toggle-form .signup input ::-webkit-input-placeholder {
  font-family: "DejaVuSans";
  font-size: 18px;
  color: #798996;
}

body main section.signup-login .container .toggle-form .signup input :-ms-input-placeholder {
  font-family: "DejaVuSans";
  font-size: 18px;
  color: #798996;
}

body main section.signup-login .container .toggle-form .signup input ::-ms-input-placeholder {
  font-family: "DejaVuSans";
  font-size: 18px;
  color: #798996;
}

body main section.signup-login .container .toggle-form .signup input ::placeholder {
  font-family: "DejaVuSans";
  font-size: 18px;
  color: #798996;
}

body main section.signup-login .container .toggle-form .signup button {
  background: #798996;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 18px 26px;
  color: #ffffff;
  font-family: "DejaVuSans";
  font-size: 18px;
  margin-bottom: 55px;
  margin-top: 58px;
}

body main section.signup-login .container .toggle-form .signup .robot-rules {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.signup-login .container .toggle-form .signup .robot-rules span {
  font-family: "DejaVuSans";
  font-size: 18px;
  color: #798996;
}

body main section.signup-login .container .toggle-form .signup .robot-rules .rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.signup-login .container .toggle-form .signup .robot-rules .rules #rules {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

body main section.signup-login .container .toggle-form .signup .robot-rules .rules label a {
  color: #798996;
  font-size: 18px;
  font-family: "DejaVuSans";
}

body main section.words .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.words .container .words-title {
  font-size: 40px;
  color: #1d2933;
}

body main section.words .container .words-title h2 {
  font-family: "BPGVenuri2010";
}

body main section.words .container .word-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main section.words .container .word-blocks a {
  max-width: 511px;
  width: 33%;
  padding: 30px 180px 36px 45px;
  margin: 35px 0;
  -webkit-box-shadow: #00000029 0 3px 5px;
          box-shadow: #00000029 0 3px 5px;
}

body main section.words .container .word-blocks a h2 {
  color: #798996;
  font-size: 46px;
  text-transform: capitalize;
  margin-bottom: 17px;
}

body main section.words .container .word-blocks a span {
  background-color: #eed370;
  padding: 5px 20px;
  font-size: 16px;
  text-transform: capitalize;
}

body main section.about-project {
  margin-top: 178px;
  margin-bottom: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main section.about-project .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main section.about-project .container .left-block {
  max-width: 768px;
  width: 100%;
}

body main section.about-project .container .left-block .about-project-text {
  border-left: 4px solid #eed370;
  padding-left: 30px;
}

body main section.about-project .container .left-block .about-project-text h5 {
  font-size: 40px;
  font-family: "BPGVenuri2010";
  line-height: 45px;
  color: #1d2933;
}

body main section.about-project .container .left-block .about-project-text p {
  max-width: 724px;
  margin: 45px 0;
  font-family: "DejaVuSans";
  font-size: 18px;
  color: #1d2933;
  line-height: 26px;
}

body main section.about-project .container a .btn-your-term {
  border-radius: 4px;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 351px;
  width: 100%;
  height: 61px;
  background-color: #798996;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body main section.about-project .container a .btn-your-term:hover {
  background-color: #eed370;
}

body main section.about-project .container a .btn-your-term:hover p {
  color: #000000;
}

body main section.about-project .container a .btn-your-term p {
  font-family: "DejaVuSans";
  font-size: 18px;
  color: #ffffff;
}

body main .chatbot {
  position: fixed;
  bottom: 70px;
  right: 50px;
}

body main section.about-project-section .container .first {
  margin-top: 70px;
}

body main section.about-project-section .container .second {
  margin: 110px 0;
}

body main section.about-project-section .container .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10%;
}

@media (max-width: 1500px) {
  body main section.about-project-section .container .project {
    margin-right: 0;
  }
}

body main section.about-project-section .container .project .text {
  max-width: 724px;
  width: 100%;
}

body main section.about-project-section .container .project .text h5 {
  font-family: "BPGVenuri2010";
  font-size: 40px;
  line-height: 45px;
  color: #c0d0de;
  margin-bottom: 45px;
}

body main section.about-project-section .container .project .text .texts {
  color: #000000;
  font-family: "DejaVuSans";
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 8px;
}

body main section.about-project-section .container .project .text .texts .more-texts {
  display: none;
}

body main section.about-project-section .container .project .text .more-click {
  font-family: "BPGVenuri2010";
  font-size: 18px;
  color: #798996;
  text-decoration: underline;
  line-height: 22px;
  cursor: pointer;
}

body main section.about-project-section .container .project .text .more-click:hover {
  color: #000000;
}

body main section.about-project-section .container .project .show-more .texts .more-texts {
  display: inline;
}

body main section.partners-section .container .organisation-partenrs {
  margin-bottom: 114px;
}

body main section.partners-section .container .organisation-partenrs p {
  font-family: "BPGVenuri2010";
  font-size: 40px;
  line-height: 45px;
  color: #c0d0de;
  margin-bottom: 45px;
}

body main section.partners-section .container .organisation-partenrs .partner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 731px;
  width: 100%;
}

body main section.partners-section .container .organisation-partenrs .partner-logo .logos {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #798996;
}

body main section.new-term .container {
  padding: 100px 0px;
}

body main section.new-term .container h2 {
  display: block;
  font-size: 40px;
  font-family: "BPGVenuri2010";
  color: #1d2933;
  border-bottom: 1px solid #000000;
}

body main section.new-term .container .inputs-container {
  width: 85%;
  margin: 0 auto;
  padding: 107px 0;
}

body main section.new-term .container .inputs-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.new-term .container .inputs-container form input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  padding-bottom: 10.6px;
  border-bottom: 1px solid #1d2933;
  margin-bottom: 105.4px;
}

body main section.new-term .container .inputs-container form input ::-webkit-input-placeholder {
  font-family: "DejaVuSans";
  font-size: 18px;
  color: #798996;
}

body main section.new-term .container .inputs-container form input :-ms-input-placeholder {
  font-family: "DejaVuSans";
  font-size: 18px;
  color: #798996;
}

body main section.new-term .container .inputs-container form input ::-ms-input-placeholder {
  font-family: "DejaVuSans";
  font-size: 18px;
  color: #798996;
}

body main section.new-term .container .inputs-container form input ::placeholder {
  font-family: "DejaVuSans";
  font-size: 18px;
  color: #798996;
}

body main section.new-term .container .inputs-container form button {
  background: #c0d0de;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 18px 26px;
}

body main section.contact-form .container {
  padding: 132px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body main section.contact-form .container .contact-info {
  color: #1d2933;
  margin-right: auto;
}

body main section.contact-form .container .contact-info h3 {
  font-size: 28px;
  font-family: "BPGVenuri2010";
  margin-bottom: 30px;
}

body main section.contact-form .container .contact-info h5 {
  font-family: "DejaVuSans";
  font-size: 18px;
  margin-bottom: 10px;
}

body main section.contact-form .container .form {
  width: 60%;
}

body main section.contact-form .container .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main section.contact-form .container .form form span {
  vertical-align: middle;
  margin-top: 10px;
  width: 100%;
  color: #fe4444;
  font-family: "DejaVuSans";
}

body main section.contact-form .container .form form span div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.contact-form .container .form form span div img {
  margin-right: 15px;
}

body main section.contact-form .container .form form input,
body main section.contact-form .container .form form textarea {
  width: 100%;
  padding: 23px 40px;
  margin-bottom: 5px;
  margin-top: 43px;
  border: 1px solid #798996;
  border-radius: 8px;
}

body main section.contact-form .container .form form :first-child {
  margin-top: 0;
}

body main section.contact-form .container .form form input[type="button"] {
  width: 140px;
  height: 62px;
  background: #798996;
  color: #fff;
  font-size: 18px;
  font-family: "DejaVuSans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body main section.contact-form .container .form form input[type="button"]:hover {
  background-color: #eed370;
  color: #1d2933;
}

body main section.contact-form .container .form form textarea {
  position: relative;
  height: 130px;
}

body main section.contact-form .container .form form textarea::-webkit-input-placeholder {
  position: absolute;
  bottom: 23px;
}

body main section.contact-form .container .form form textarea:-ms-input-placeholder {
  position: absolute;
  bottom: 23px;
}

body main section.contact-form .container .form form textarea::-ms-input-placeholder {
  position: absolute;
  bottom: 23px;
}

body main section.contact-form .container .form form textarea::placeholder {
  position: absolute;
  bottom: 23px;
}

body main section.contact-form .container .form-hide {
  display: none;
}

body main section.contact-form .for-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main section.contact-form .for-contact .success-msg {
  display: none;
}

body main section.contact-form .for-contact .not-hide {
  display: block;
  padding-top: 170px;
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
  border-top: 1px solid #1d2933;
}

body main section.contact-form .for-contact .not-hide div p {
  font-size: 40px;
  font-family: "BPGVenuri2010";
  line-height: 45px;
  color: #1d2933;
  margin-bottom: 30px;
}

body main .error-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .error-page .container .error-container {
  padding: 110px 0 222px 0;
  max-width: 1120px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .error-page .container .error-container .error-text .text-404 {
  font-size: 96px;
  line-height: 120px;
  color: #1d2933;
}

body main .error-page .container .error-container .error-text .not-found {
  font-size: 40px;
  line-height: 45px;
  color: #1d2933;
  font-family: "BPGVenuri2010";
  margin: 30px 0;
}

body main .error-page .container .error-container .error-text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 272px;
  width: 100%;
  height: 62px;
  background-color: #798996;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-family: "DejaVuSans";
}

body main .error-page .container .error-container .error-text a:hover {
  cursor: pointer;
  background-color: #eed370;
  color: #000000;
}

body footer {
  width: 100%;
  padding: 90px 0;
  -webkit-box-shadow: 0px -3px 6px #00000029;
          box-shadow: 0px -3px 6px #00000029;
}

body footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer .container .left-block-social a {
  color: #1d2933;
}

body footer .container .left-block-social a .logo-conc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
}

body footer .container .left-block-social a .logo-conc p {
  font-family: "BPGVenuri2010";
  font-size: 28px;
  line-height: 32px;
}

body footer .container .left-block-social .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

body footer .container .left-block-social .social-icons .circle {
  margin-right: 70px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #798996;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

body footer .container .left-block-social .social-icons .circle a {
  color: white;
  font-size: x-large;
}

body footer .container .left-block-social .social-icons .insta:hover {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

body footer .container .left-block-social .social-icons .twitter:hover {
  background-color: #329cea;
}

body footer .container .left-block-social .social-icons .fb:hover {
  background: #0f90f3;
}

body footer .container .middle-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .container .middle-block .contact-info p {
  font-size: 18px;
  font-family: "DejaVuSans";
}

body footer .container .middle-block .contact-info p:nth-child(1) {
  margin-bottom: 32px;
}

body footer .container .middle-block .contact-info p:nth-child(2) {
  font-weight: 600;
}

body footer .container .right-block-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body footer .container .right-block-partners .partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body footer .container .right-block-partners .partners p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-family: "DejaVuSans";
  margin-bottom: 48px;
}

body footer .container .right-block-partners .partners .partners-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer .container .right-block-partners .partners .partners-logo .div-logo {
  width: 46px;
  height: 46px;
  background-color: #798996;
  border-radius: 50%;
}

body footer .container .right-block-partners .partners .partners-logo :nth-child(2) {
  margin-left: 60px;
  margin-right: 60px;
}
/*# sourceMappingURL=global.css.map */